<div class="container">
    <div class="card">
        <div class="card-header"> 
            <h3>Tareas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                 <tr>
                    <th>Número de tarea</th>
                    <th>Nombre</th>
                    <th>Etiqueta</th>
                    <th>Responsable</th>
                 </tr>     
                </thead>     
                <tbody>
                    <tr *ngFor="let tarea of items"class="text-center"></tr>
                        <td>{{tareas.id}}</td>
                        <td>{{tareas.name}}</td>
                        <td>{{tareas.etq}}</td>
                        <td>{{respo.etq}}</td>
                        <td>
                            <button class="btn btn-warning">Estado</button> 
                            <button class="btn btn-warning" style="margin-left: 10px;">Editar</button> 
                            <button class="btn btn-danger" style="margin-left: 10px;">Borrar</button>
                        </td>
                </tbody>      
            </table>
       </div>
    </div>  
</div>
